<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<span><?php /*$testVar*/ ?></span>
	<div class="row">
	  <span>1 ряд</span>
	<div class="btn-group" data-toggle="buttons">
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="A-1" autocomplete="off">1
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="A-2" autocomplete="off">2
	  </label>
	  <label class="event-ticket btn btn-default disabled">
	    <input type="checkbox" name="tickets[]" value="A-3" autocomplete="off"> 3
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="A-4" autocomplete="off"> 4
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="A-5" autocomplete="off"> 5
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="A-6" autocomplete="off"> 6
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="A-7" autocomplete="off"> 7
	  </label>
	</div>
	</div>
	<div class="row">
	  <span>2 ряд</span>
	<div class="btn-group" data-toggle="buttons">
	  <label class="event-ticket btn btn-default hideit">
	    <input type="checkbox" name="tickets[]" value="B-1" autocomplete="off">1
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="B-2" autocomplete="off">2
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="B-3" autocomplete="off"> 3
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="B-4" autocomplete="off"> 4
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="B-5" autocomplete="off"> 5
	  </label>
	  <label class="event-ticket btn btn-default disabled">
	    <input type="checkbox" name="tickets[]" value="B-6" autocomplete="off"> 6
	  </label>
	  <label class="event-ticket btn btn-default hideit">
	    <input type="checkbox" name="tickets[]" value="B-7" autocomplete="off"> 7
	  </label>
	</div>
	</div>
	<div class="row">
	  <span>3 ряд</span>
	<div class="btn-group" data-toggle="buttons">
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="C-1" autocomplete="off">1
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="C-2" autocomplete="off">2
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="C-3" autocomplete="off"> 3
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="C-4" autocomplete="off"> 4
	  </label>
	  <label class="event-ticket btn btn-default disabled">
	    <input type="checkbox" name="tickets[]" value="C-5" autocomplete="off"> 5
	  </label>
	  <label class="event-ticket btn btn-default">
	    <input type="checkbox" name="tickets[]" value="C-6" autocomplete="off"> 6
	  </label>
	  <label class="event-ticket btn btn-default disabled">
	    <input type="checkbox" name="tickets[]" value="C-7" autocomplete="off"> 7
	  </label>
	</div>
	</div>
	<div class="popover fade right in" role="tooltip" id="popover294767" style="top: 0px; left: 435px; display: block;">
		<div class="arrow" style="/* top: 48.9583%; */"></div>
		<h3 class="popover-title" id="tickets-total">Popover title</h3>
		<div class="popover-content">
			<button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">Забронировать</button>
		</div>
	</div>
</div>
